[user]
    name = Hideyuki Kikuma
    email = hideyuki.kikuma@gmail.com
[include]
    path = .gitconfig.local
[core]
    editor = vim
    excludesfile = ~/.gitignore
[color]
    ui = auto

[alias]
    dc = diff --cached
    ll = log --stat --abbrev-commit
    ln = log --graph -n 20 --pretty=format:'%C(yellow)%h%C(cyan)%d%Creset %s %C(green)- %an, %cr%Creset' --name-status
    ls = log --stat --abbrev-commit -n 2
    st = status
    br = branch --sort=authordate
    delete-merged-branches = !git branch --merged | grep -v \\* | xargs -I % git branch -d %
    push-f = push --force-with-lease
    branch-sorted = branch -v --format='%(committerdate:short) %(refname:short)' --sort=-committerdate

[browse-remote "github.com"]
    file = "https://{host}/{path}/blob/{short_rev}/{file}{line && \"#L%d\" % line}"
    top = https://{host}/{path}
    ref = https://{host}/{path}/tree/{short_ref}
    rev = https://{host}/{path}/commit/{commit}

[filter "lfs"]
    clean = git lfs clean %f
    smudge = git lfs smudge %f
    required = true

[push]
    default = current
    autoSetupRemote = true

[commit]
    template = ~/.git_template/commit-msg.txt

[init]
    templatedir = ~/.git_template/init.template

[diff]
    indentHeuristic = true

[fetch]
    prune = true

[pull]
    autostash = true

[rebase]
    autoStash = true

[url "ssh://git@github.com/"]
    insteadOf = https://github.com/
