[submodule "perldoc-vim"]
	path = vim/.vim/bundle/perldoc-vim
	url = git://github.com/mattn/perldoc-vim.git
[submodule "vim/.vim/bundle/unite.vim"]
	path = vim/.vim/bundle/unite.vim
	url = git://github.com/Shougo/unite.vim.git
[submodule "vim/.vim/bundle/fugitive.vim"]
	path = vim/.vim/bundle/fugitive.vim
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim/.vim/bundle/vundle"]
	path = vim/.vim/bundle/vundle
	url = git://github.com/gmarik/vundle.git
