[submodule "perldoc-vim"]
	path = perldoc-vim
	url = git://github.com/mattn/perldoc-vim.git
[submodule "vim/.vim/bundle/perldoc-vim"]
	path = vim/.vim/bundle/perldoc-vim
	url = git://github.com/mattn/perldoc-vim.git
