"##################################
" for search
"##################################
set ignorecase
set smartcase

set hlsearch
noremap <Esc><Esc> :nohlsearch<CR><Esc>

"##################################
" key mapping
"##################################
noremap ; :

