"##################################
" for search
"##################################
set ignorecase
set smartcase

set hlsearch
noremap <Esc><Esc> :nohlsearch<CR><Esc>

" use visualbell
set visualbell

"##################################
" key mapping
"##################################
noremap ; :

